<?xml version="1.0"?>

<configuration>
  
  <appSettings>
    <!-- Process Settings -->
    <add key="StartupFile" value=""/>
    <add key="WorkingDirectory" value=""/>
    <add key="StartupParameters" value=""/>
    <add key="HideProcess" value="true"/>
    <add key="AutoRestart" value="false" />

    <!-- Install Settings -->
    <add key="ServiceName" value="MyService" />
    <add key="DisplayName" value="MyService" />
    <add key="Description" value="This is my Service !" />
    
    <!-- Service Run Credentials -->
    <!-- LocalService, NetworkService, LocalSystem, User -->
    <add key="RunMode" value="LocalSystem" />
    <add key="Username" value="" />
    <add key="Password" value="" />
  </appSettings>
  
</configuration>
